[submodule "reference/raymap"]
	path = reference/raymap
	url = https://github.com/byvar/raymap.git
[submodule "lib/BinarySerializer.OpenSpace"]
	path = lib/BinarySerializer.OpenSpace
	url = https://github.com/BinarySerializer/BinarySerializer.OpenSpace.git
[submodule "lib/BinarySerializer"]
	path = lib/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer.git
[submodule "reference/ray2get"]
	path = reference/ray2get
	url = https://github.com/Synthesis/ray2get.git
[submodule "reference/vgmstream"]
	path = reference/vgmstream
	url = https://github.com/vgmstream/vgmstream.git
[submodule "reference/Rayman2Lib"]
	path = reference/Rayman2Lib
	url = https://github.com/szymski/Rayman2Lib.git
[submodule "reference/OpenRayman"]
	path = reference/OpenRayman
	url = https://github.com/imaginaryPineapple/OpenRayman.git
